.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #6f7be9, #d379da);
}

.my-cart {
  width: 400px;
  background: rgb(196, 196, 196);
  text-align: center;
  margin: 50px 0;
  padding: 10px 0;
  border-radius: 10px;
  box-shadow: -1px 15px 21px -6px rgba(236, 139, 139, 0.61);
  -webkit-box-shadow: -1px 15px 21px -6px rgba(236, 139, 139, 0.61);
  -moz-box-shadow: -1px 15px 21px -6px rgba(236, 139, 139, 0.61);
}

input {
  padding: 7px 7px;
  width: 300px;
  margin: 5px 0px;
  border-radius: 10px;
  border: none;
  outline: none;
}
input:focus {
  background-color: rgb(223, 223, 223);
}

.login-btn {
  width: 100px;
  font-size: 24px;
  background: linear-gradient(90deg, rgb(221, 139, 139), rgb(131, 131, 241));
  cursor: pointer;
  color: white;
}
.login-btn:hover {
  background: rgb(0, 0, 0);
  color: white;
}

.online-btn {
  background-color: #4b79c4;
  color: white;
  width: 150px;
  border: none;
  padding: 7px 5px;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
}
.google {
  background-color: #da8278;
}
.github {
  background-color: #71ee71;
}
.facebook {
  background-color: #7a9ee6;
}
